{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>List of films</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
<body>
<main role="main" class="container">

    <div class="col-md text-center">
        <h1>List of films</h1>
<!--        <hr class="mt-0 mb-4">-->
    </div>
    <div class="container" style="margin-top: 30px">
        <form method="GET" action=".">
          <div class="form-row" align="center">
                <div class="col-sm form-control py-2">
<!--                    <label for="inputState" class="form-label" >Filter by </label>-->
                    <select id="selectField" class="form-select" name="select_field">
                        <option selected>Filter by...</option>
                        <option value="year">year</option>
                        <option value="length">length</option>
                        <option value="title">title</option>
                        <option value="subject">genre</option>
                        <option value="actor">actor</option>
                        <option value="actress">actress</option>
                        <option value="director">director</option>
                        <option value="popularity">popularity</option>
                    </select>
                </div>
                <div class="col-sm form-control py-2">
<!--                    <label for="inputState" class="form-label" >Select filter  </label>-->
                    <select id="selectFilter" class="form-select " name="select_filter">
                        <option selected>Select filter...</option>
                        <option value="contains">contains</option>
                        <option value="equals to">is equal to</option>
                        <option value="more than">more than (for numbers only)</option>
                        <option value="less than">less than (for numbers only)</option>
                    </select>
                </div>
                <div class="col-sm ">
                    <div class="input-group">
                        <input class="form-control py-2 border-right-0 border" type="search" name="search_field" placeholder="Type your query..." />
                        <span class="input-group-append">
                            <div class="input-group-text bg-transparent">
                                <i class="fa fa-search "></i>
                            </div>
                        </span>
                    </div>
                </div>
              <div class="col-sm form-control py-2">
                    <select id="selectOrdering" class="form-select" name="ordering">
                        <option selected>Order by... </option>
                        <option value="year">year</option>
                        <option value="length">length</option>
                        <option value="title">title</option>
                        <option value="subject">genre</option>
                        <option value="actor">actor</option>
                        <option value="actress">actress</option>
                        <option value="director">director</option>
                        <option value="popularity">popularity</option>

                    </select>
                </div>
              <div>
                <button type="submit" class="btn btn-primary" style="margin-left: 5%;">Search</button>
              </div>
            </div>
        </form>
    </div>

     <div style="margin-top: 30px;">
        <table border="1" cellpadding=10 style="font-family:Verdana">
            <tr align="center">
                <th><h5>Year</h5></th>
                <th><h5>Length <small>(minutes)</small></h5></th>
                <th><h5>Title</h5></th>
                <th><h5>Genre</h5></th>
                <th><h5>Actor</h5></th>
                <th><h5>Actress</h5></th>
                <th><h5>Director</h5></th>
                <th><h5>Popularity<small>(%)</small></h5></th>
            </tr>
                {% for film in queryset %}
                    <tr>
                        <td align="center">{{ film.year }}</td>
                        <td align="center">{{ film.length }}</td>
                        <td align="center"><a href="https://www.google.com/search?q={{ film.title }}, film of {{ film.year }}">{{ film.title }}</a></td>
                        <td align="center">{{ film.subject }}</td>
                        <td align="center">{{ film.actor }}</td>
                        <td align="center">{{ film.actress }}</td>
                        <td align="center">{{ film.director }}</td>
                        <td align="center">{{ film.popularity }}</td>
                    </tr>
                {% endfor %}
        </table>
    </div>


    <div class="pagination justify-content-center">
        <span class="step-links" style="margin-top: 30px;">




            {% if 'search_field' in request.get_full_path %}


                    {% if page.has_previous %}
                        <a href="?page=1&select_field={{ select_field }}&select_filter={{ select_filter }}&search_field={{ search_field }}&ordering={{ ordering }}">&laquo; First page </a>
                        <a href="?page={{ page.previous_page_number }}&select_field={{ select_field }}&select_filter={{ select_filter }}&search_field={{ search_field }}&ordering={{ ordering }}">Previous page</a>
                    {% endif %}

                    <span class="current" >
                        Page {{ page.number }} of {{ page.paginator.num_pages }}
                    </span>

                    {% if page.has_next %}
                        <a href="?page={{ page.next_page_number }}&select_field={{ select_field }}&select_filter={{ select_filter }}&search_field={{ search_field }}&ordering={{ ordering }}"> Next Page</a>
                        <a href="?page={{ page.paginator.num_pages }}&select_field={{ select_field }}&select_filter={{ select_filter }}&search_field={{ search_field }}&ordering={{ ordering }}"> Last Page &raquo;</a>
                    {% endif %}

        {% else %}

        {% if page.has_previous %}
                    <a href="?page=1">&laquo; First page </a>
                    <a href="?page={{ page.previous_page_number }}">Previous page</a>
                {% endif %}

                <span class="current" >
                    Page {{ page.number }} of {{ page.paginator.num_pages }}
                </span>

                {% if page.has_next %}
                    <a href="?page={{ page.next_page_number }}"> Next Page</a>
                    <a href="?page={{ page.paginator.num_pages }}"> Last Page &raquo;</a>
                {% endif %}


        {% endif %}


        </span>
    </div>
</main>

</body>
</html>
